body{
	background: #F3E0E3
}

p#array1{
	text-align: center;
	position: absolute;
	top: 50%;
	left: 10%
}

p#length{
	position: absolute;
	top: 55%;
	left: 10%;
	font-family: Verdana;
	font-size: 12px
}
@font-face{
			font-family: Verdana;
			src:url(Verdana.ttf);
}


button#button1{
	display: inline-block;
	border-radius: 7px;
	border-color: #F1E7E4;
	background-color: #F1E7E4;

	color: black;
	text-align: center;
	font-size: 10px;
	letter-spacing: 0.09pc;

	width: 60px;
	height: 30px;
	cursor: pointer;

	position: absolute;
	top: 30%;
	left: 10%;
}

button#button2{
	display: inline-block;
	border-radius: 7px;
	border-color: #F1E7E4;
	background-color: #F1E7E4;

	color: black;
	text-align: center;
	font-size: 10px;
	letter-spacing: 0.09pc;

	width: 60px;
	height: 30px;
	cursor: pointer;

	position: absolute;
	top: 30%;
	left: 15%;
}

button#button3{
	display: inline-block;
	border-radius: 7px;
	border-color: #F1E7E4;
	background-color: #F1E7E4;

	color: black;
	text-align: center;
	font-size: 10px;
	letter-spacing: 0.09pc;

	width: 60px;
	height: 30px;
	cursor: pointer;

	position: absolute;
	top: 30%;
	left: 20%;
}

button#button4{
	display: inline-block;
	border-radius: 7px;
	border-color: #F1E7E4;
	background-color: #F1E7E4;

	color: black;
	text-align: center;
	font-size: 10px;
	letter-spacing: 0.09pc;

	width: 60px;
	height: 30px;
	cursor: pointer;

	position: absolute;
	top: 30%;
	left: 25%;
}

button#button5{
	display: inline-block;
	border-radius: 7px;
	border-color: #F1E7E4;
	background-color: #F1E7E4;

	color: black;
	text-align: center;
	font-size: 10px;
	letter-spacing: 0.09pc;

	width: 60px;
	height: 30px;
	cursor: pointer;

	position: absolute;
	top: 30%;
	left: 30%;
}

button#button6{
	display: inline-block;
	border-radius: 7px;
	border-color: #F1E7E4;
	background-color: #F1E7E4;

	color: black;
	text-align: center;
	font-size: 10px;
	letter-spacing: 0.09pc;

	width: 60px;
	height: 30px;
	cursor: pointer;

	position: absolute;
	top: 30%;
	left: 35%;
}

button#button7{
	display: inline-block;
	border-radius: 7px;
	border-color: #F1E7E4;
	background-color: #F1E7E4;

	color: black;
	text-align: center;
	font-size: 10px;
	letter-spacing: 0.09pc;

	width: 60px;
	height: 30px;
	cursor: pointer;

	position: absolute;
	top: 30%;
	left: 40%;
}

button#button8{
	display: inline-block;
	border-radius: 7px;
	border-color: #F1E7E4;
	background-color: #F1E7E4;

	color: black;
	text-align: center;
	font-size: 10px;
	letter-spacing: 0.09pc;

	width: 60px;
	height: 30px;
	cursor: pointer;

	position: absolute;
	top: 30%;
	left: 45%;
}

button#button9{
	display: inline-block;
	border-radius: 7px;
	border-color: #F1E7E4;
	background-color: #F1E7E4;

	color: black;
	text-align: center;
	font-size: 10px;
	letter-spacing: 0.09pc;

	width: 60px;
	height: 30px;
	cursor: pointer;

	position: absolute;
	top: 30%;
	left: 50%;
}

button#button10{
	display: inline-block;
	border-radius: 7px;
	border-color: #F1E7E4;
	background-color: #F1E7E4;

	color: black;
	text-align: center;
	font-size: 10px;
	letter-spacing: 0.09pc;

	width: 60px;
	height: 30px;
	cursor: pointer;

	position: absolute;
	top: 30%;
	left: 55%;
}

button#button11{
	display: inline-block;
	border-radius: 7px;
	border-color: #F1E7E4;
	background-color: #F1E7E4;

	color: black;
	text-align: center;
	font-size: 10px;
	letter-spacing: 0.09pc;

	width: 60px;
	height: 30px;
	cursor: pointer;

	position: absolute;
	top: 30%;
	left: 60%;
}

button#button12{
	display: inline-block;
	border-radius: 7px;
	border-color: #F1E7E4;
	background-color: #F1E7E4;

	color: black;
	text-align: center;
	font-size: 10px;
	letter-spacing: 0.09pc;

	width: 60px;
	height: 30px;
	cursor: pointer;

	position: absolute;
	top: 30%;
	left: 65%;
}